<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
  </configSections>
  <connectionStrings>
    <!--<add name="Xrm" connectionString="Server=https://crmph.crm5.dynamics.com; Domain=crmph.crm5.dynamics.com; Username=admin@crmph.onmicrosoft.com; Password=2Winter*8" />-->

    <add name="Xrm" connectionString="Url=https://crmph.crm5.dynamics.com; Username=admin@crmph.onmicrosoft.com; Password=Welcome3"/>

  </connectionStrings>
  <microsoft.xrm.client>
    <contexts>
      <add name="Xrm" type="Xrm.XrmServiceContext, CRMProxyService.Entity" />
    </contexts>
  </microsoft.xrm.client>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CRMProxyService.Services.OpportunityService" />
      <service name="CRMProxyService.Services.AccountService">
        <endpoint address="" behaviorConfiguration="CRMProxyService.Services.AccountServiceBehavior"
          binding="webHttpBinding" contract="CRMProxyService.Services.IAccountService" />
      </service>
      <service name="CRMProxyService.Services.ConnectionService" />
      <service name="CRMProxyService.Services.CovenantService" />
      <service name="CRMProxyService.test.StudentService" />
      <service name="CRMProxyService.Services.TradeFinanceService" />
      <service name="CRMProxyService.Services.CRMAccountService">
        <endpoint address="" behaviorConfiguration="CRMProxyService.Services.CRMAccountServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="CRMProxyService.Services.ICRMAccountService" />
      </service>
    </services>
    <standardEndpoints crossDomainScriptAccessEnabled="true">
      <discoveryEndpoint>
        <standardEndpoint name="NewStandardEndpoint0" />
      </discoveryEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CRMProxyService.Services.AccountServiceBehavior" >
          <enableWebScript />
        </behavior>
        <behavior name="CRMProxyService.Services.CRMAccountServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"  crossDomainScriptAccessEnabled="true"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>